@font-face {
    font-display: swap;
    font-style: normal;
    src: url('/fonts/DMSans-Bold.ttf');
    font-family: 'DM Sans';
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('/fonts/DMSans-Medium.ttf');
    font-family: 'DM Sans';
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('/fonts/DMSans-Regular.ttf');
    font-family: 'DM Sans';
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('/fonts/InriaSerifBold.ttf');
    font-family: 'Inria Serif';
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('/fonts/TitanOne.ttf');
    font-family: 'Titan One';
    font-weight: 400;
}
